img.hover{
    --avatar-border-color: blue;
}
.grid{
    display : grid;
    height: 99vh;
    grid-template-columns:200px 1fr;
    grid-template-rows: 74px 1fr 48px;
    grid-gap: 2px;
    text-align: center;
    grid-template-areas: 
    'header header'
    'users boarding'
    'message message';
   
    .grid-elem-1{
        grid-area: header;
        background-color: lightgray;
    }
    .grid-elem-2{
        grid-area: users;
        background-color: grey;
    }
    .grid-elem-3{
        grid-area: boarding;
    }
    .grid-elem-4{
        grid-area: message;
    }
    app-board {
        flex: 1;
    }
}
