img.hover{
    --avatar-border-color: blue;
}
.grid{
    display : grid;
    height: 99vh;
    grid-template-columns: minmax(70px, 20%) 1fr;
    grid-template-rows: 74px 1fr 48px;
    grid-gap: 2px;
    text-align: center;
    grid-template-areas: 
    'header header'
    'menu view'
    ;
    .grid-elem-1{
        grid-area: header;
        background-color: lightgray;
        position: relative;
    }
    .grid-elem-2{
        grid-area: menu;
        background-color: grey;
        position: relative;
    }
    .grid-elem-3{
        grid-area: view;
        position: relative;
    }
   
    app-board {
        flex: 1;
    }
    
}
/*
.buttonActive{
    background-color:cyan;
    font-weight: bold;
}
*/