.grid{
    display: grid;
    grid-template-rows: 74px 1fr;
    grid-template-columns: 1fr minmax(74px,10%);
    grid-template-areas: 
    'user close'
    'board board'
}
.board{
    grid-area: board;
    height: 80%;
    float: left;
    width: 1000px;
    overflow: auto;
}
p{
    text-align: left;
    padding: 12px;
    background: lightcyan;
    margin: 4px;
    border-radius: 4px;
}
app-avatar{
    grid-area: user;
}
button{
    grid-area: close
}