/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html {
    font-family: "Comic Sans MS", "Times New Roman", Times, serif;
    font-size: 14px;
}

/*
button{
    color: black;
    text-align: center;
    display: inline-block;
    font-style: italic;
    font: bold;
    font-size: 16px;
    border: none;
    background: lightblue;
}
*/