:host {
    display: grid;
    grid-template-rows: 74px 1fr;
    grid-template-columns: 1fr minmax(74px,10%);
    
}

/*
button {
    font-size: 21px;
}
*/

/* Lo veremos mas adelante con los formularios activos
.ng-invalid.ng-dirty {
    border-color: red
}
*/
.example-full-width {
    width: 100%;
  }