:host {
    display: flex;
}

input {
    flex: 1;
}

button {
    padding: 12px 24px;
    font-size: 21px;
    border: none;
    background: lightblue;
}
/* Lo veremos mas adelante con los formularios activos
.ng-invalid.ng-dirty {
    border-color: red
}
*/