
<!--<div class="example-container">
  <mat-form-field>
    <input matInput placeholder="Enter your name" [formControl]="email" required>
    <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Enter your surname" [formControl]="email" required>
    <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
  </mat-form-field>
</div>
<div class="example-container">
  
</div>-->
<div class="example-container padding-container" [formGroup]="newContactForm">
  <div class="example-container" formGroupName="name">
    <mat-form-field class="margin-elem">
      <input matInput placeholder="Enter your first name" formControlName="first" required>
      <mat-error *ngIf="newContactForm.get('name.first').invalid">{{getFirstNameErrorMessage()}}</mat-error>
    </mat-form-field>
    <mat-form-field class="margin-elem">
      <input matInput placeholder="Enter your last name" id="email" formControlName="last" required>
      <mat-error *ngIf="newContactForm.get('name.last').invalid">{{getLastNameErrorMessage()}}</mat-error>
    </mat-form-field>
  </div>
  <mat-form-field class="margin-elem">
      <input matInput placeholder="Enter your image URL" formControlName="picture" required>
      <mat-error *ngIf="newContactForm.get('picture').invalid">{{getPictureErrorMessage()}}</mat-error>
  </mat-form-field>
  <mat-form-field class="margin-elem">
    <input matInput placeholder="Enter your email" id="email" formControlName="email" required>
    <mat-error *ngIf="newContactForm.get('email').invalid">{{getEmailErrorMessage()}}</mat-error>
  </mat-form-field>
</div>